#topLogo {
    height: 45px;

}
#mapPlaceHolder {
    height: auto;
}

/* #map-container {
    border: solid 1px black;
    width:100%;
    height:100%;
    text-align:center;
} */

#message-container {
    margin-top: auto;
}

#momentClock {
    height: 50px;
    width: 70%;
    text-align: center;
    border-radius: 20px;
    background: #ff0064;
    color: white;
    font-size: 28px;
    /* box-shadow: 0 0 7px #222;
    text-shadow: 00 3px #fff; */
    font-family: sans-serif;
    margin: auto;
}

#sendButton {
    color: white;
    background-color: #ff0064;
}

p {
    color: lightgray;
    margin-top: 20px;
    margin-right: 113px;
}
/* .submit_button {
    color: white;
    background-color: #ff0064;
} */
a {
    color: #ff0064;
}
footer {
    font-size: 10px;
    padding: 20px;
    color: white;
    text-align: center;
    background-color: #ff0064;
    border-top: 8px solid #00ffbb;
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


#CreateButton{
    color: white;
    background-color: #ff0064;
}

#JoinButton {
    color: white;
    background-color: #ff0064;
}
@media only screen and (max-width: 415px){
    #weatherText{
        position: absolute;
        left: 77%;
        top: 13px;
    }
    #buttonContainer{
        position: relative;
        top: 494px;
    }
    #update{
        position: relative;
        top: -84px;
        left: 82px;
    }
    #userName{
        position: relative;
        top: -64px;
        width: 173%;
    }
    #groupName{
    position: relative;
    top: -59px;
    width: 200%;
    }
    #drill{
        min-height: 192px;
        max-width: 200px;
        top: -54%;
        left: 161px;
        width: 150%;
    }
    #map{
        width: 140%;
        left: -38%;
    }
    #footerText{
        text-align: center;
        margin-right: 0
    }
}
